* {
    box-sizing: border-box;
}

body {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px repeat(2, 1fr);
}

.bloque {
    border: 2px solid blue;
}

#img_hexagonos_perritos {
    width: 300px;
}

@media screen and (max-width: 599px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 80px repeat(6, 1fr);
    }

    #hexagonos_perritos > img {
        content: url(imágenes/hexagono_600);
    }
}