.container {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .div1, .div2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
  }
  
  @keyframes hexagon {
    0% {
      top: 0;
      left: 50%;
    }
    16.6% {
      top: 50px;
      left: 25px;
    }
    33.3% {
      top: 150px;
      left: 25px;
    }
    50% {
      top: 250px;
      left: 50%;
    }
    66.6% {
      top: 150px;
      left: 375px;
    }
    83.3% {
      top: 50px;
      left: 375px;
    }
    100% {
      top: 0;
      left: 50%;
    }
  }
  
  .div1 {
    animation: hexagon 5s linear 3;
  }
  
  .div2 {
    animation: hexagon 5s linear 3 reverse;
  }
  